<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.server.mapper.server.PublicServerCommandMapper">

    <resultMap type="PublicServerCommand" id="PublicServerCommandResult">
        <result property="id" column="id"/>
        <result property="serverId" column="server_id"/>
        <result property="command" column="command"/>
        <result property="status" column="status"/>
        <result property="vagueMatching" column="vague_matching"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectPublicServerCommandVo">
        select id,
               server_id,
               command,
               status,
               vague_matching,
               create_time,
               create_by,
               update_time,
               update_by,
               remark
        from public_server_command
    </sql>

    <select id="selectPublicServerCommandList" parameterType="PublicServerCommand"
            resultMap="PublicServerCommandResult">
        <include refid="selectPublicServerCommandVo"/>
        <where>
            <if test="serverId != null ">
                and server_id = #{serverId}
            </if>
            <if test="command != null  and command != ''">
                and command = #{command}
            </if>
            <if test="status != null ">
                and status = #{status}
            </if>
            <if test="vagueMatching != null ">
                and vague_matching = #{vagueMatching}
            </if>
        </where>
    </select>

    <select id="selectPublicServerCommandById" parameterType="Long"
            resultMap="PublicServerCommandResult">
        <include refid="selectPublicServerCommandVo"/>
        where id = #{id}
    </select>

    <insert id="insertPublicServerCommand" parameterType="PublicServerCommand" useGeneratedKeys="true"
            keyProperty="id">
        insert into public_server_command
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serverId != null">server_id,
            </if>
            <if test="command != null and command != ''">command,
            </if>
            <if test="status != null">status,
            </if>
            <if test="vagueMatching != null">vague_matching,
            </if>
            <if test="createTime != null">create_time,
            </if>
            <if test="createBy != null">create_by,
            </if>
            <if test="updateTime != null">update_time,
            </if>
            <if test="updateBy != null">update_by,
            </if>
            <if test="remark != null">remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serverId != null">#{serverId},
            </if>
            <if test="command != null and command != ''">#{command},
            </if>
            <if test="status != null">#{status},
            </if>
            <if test="vagueMatching != null">#{vagueMatching},
            </if>
            <if test="createTime != null">#{createTime},
            </if>
            <if test="createBy != null">#{createBy},
            </if>
            <if test="updateTime != null">#{updateTime},
            </if>
            <if test="updateBy != null">#{updateBy},
            </if>
            <if test="remark != null">#{remark},
            </if>
        </trim>
    </insert>

    <update id="updatePublicServerCommand" parameterType="PublicServerCommand">
        update public_server_command
        <trim prefix="SET" suffixOverrides=",">
            <if test="serverId != null">server_id =
                #{serverId},
            </if>
            <if test="command != null and command != ''">command =
                #{command},
            </if>
            <if test="status != null">status =
                #{status},
            </if>
            <if test="vagueMatching != null">vague_matching =
                #{vagueMatching},
            </if>
            <if test="createTime != null">create_time =
                #{createTime},
            </if>
            <if test="createBy != null">create_by =
                #{createBy},
            </if>
            <if test="updateTime != null">update_time =
                #{updateTime},
            </if>
            <if test="updateBy != null">update_by =
                #{updateBy},
            </if>
            <if test="remark != null">remark =
                #{remark},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePublicServerCommandById" parameterType="Long">
        delete
        from public_server_command
        where id = #{id}
    </delete>

    <delete id="deletePublicServerCommandByIds" parameterType="String">
        delete from public_server_command where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>