<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.endmc.server.mapper.quiz.WhitelistQuizConfigMapper">

    <resultMap type="WhitelistQuizConfig" id="WhitelistQuizConfigResult">
        <result property="id" column="id"/>
        <result property="configKey" column="config_key"/>
        <result property="configValue" column="config_value"/>
        <result property="description" column="description"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectWhitelistQuizConfigVo">
        select id,
               config_key,
               config_value,
               description,
               remark,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag
        from whitelist_quiz_config
    </sql>

    <select id="selectWhitelistQuizConfigList" parameterType="WhitelistQuizConfig"
            resultMap="WhitelistQuizConfigResult">
        <include refid="selectWhitelistQuizConfigVo"/>
        <where>
            <if test="configKey != null  and configKey != ''">
                and config_key = #{configKey}
            </if>
            <if test="configValue != null  and configValue != ''">
                and config_value = #{configValue}
            </if>
            <if test="description != null  and description != ''">
                and description = #{description}
            </if>
        </where>
    </select>

    <select id="selectWhitelistQuizConfigById" parameterType="Long"
            resultMap="WhitelistQuizConfigResult">
        <include refid="selectWhitelistQuizConfigVo"/>
        where id = #{id}
    </select>

    <insert id="insertWhitelistQuizConfig" parameterType="WhitelistQuizConfig" useGeneratedKeys="true"
            keyProperty="id">
        insert into whitelist_quiz_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="configKey != null and configKey != ''">config_key,
            </if>
            <if test="configValue != null and configValue != ''">config_value,
            </if>
            <if test="description != null">description,
            </if>
            <if test="remark != null">remark,
            </if>
            <if test="createBy != null">create_by,
            </if>
            <if test="createTime != null">create_time,
            </if>
            <if test="updateBy != null">update_by,
            </if>
            <if test="updateTime != null">update_time,
            </if>
            <if test="delFlag != null">del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="configKey != null and configKey != ''">#{configKey},
            </if>
            <if test="configValue != null and configValue != ''">#{configValue},
            </if>
            <if test="description != null">#{description},
            </if>
            <if test="remark != null">#{remark},
            </if>
            <if test="createBy != null">#{createBy},
            </if>
            <if test="createTime != null">#{createTime},
            </if>
            <if test="updateBy != null">#{updateBy},
            </if>
            <if test="updateTime != null">#{updateTime},
            </if>
            <if test="delFlag != null">#{delFlag},
            </if>
        </trim>
    </insert>

    <update id="updateWhitelistQuizConfig" parameterType="WhitelistQuizConfig">
        update whitelist_quiz_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="configKey != null and configKey != ''">config_key =
                #{configKey},
            </if>
            <if test="configValue != null and configValue != ''">config_value =
                #{configValue},
            </if>
            <if test="description != null">description =
                #{description},
            </if>
            <if test="remark != null">remark =
                #{remark},
            </if>
            <if test="createBy != null">create_by =
                #{createBy},
            </if>
            <if test="createTime != null">create_time =
                #{createTime},
            </if>
            <if test="updateBy != null">update_by =
                #{updateBy},
            </if>
            <if test="updateTime != null">update_time =
                #{updateTime},
            </if>
            <if test="delFlag != null">del_flag =
                #{delFlag},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWhitelistQuizConfigById" parameterType="Long">
        delete
        from whitelist_quiz_config
        where id = #{id}
    </delete>

    <delete id="deleteWhitelistQuizConfigByIds" parameterType="String">
        delete from whitelist_quiz_config where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>